:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --footer-gradient-background: #211f20;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.content {
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    width: 100%;
    padding: 80px 0 100px;
}


h1 {
    font-family: var(--font-family);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2px;
}

.background-container {
    background: url('assets/img/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 70%),
        #211f20;
    background-position: 0% 0%;
    padding: 30px 0 0;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.nav-list {
    display: inline-flex;
    list-style: none;
    gap: 36px;
    white-space: nowrap; 
}
.burger-menu {
    display: none;
}

.nav-link {
    font-family: var(--second-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: var(--color-dark-s);
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-link-active {
    color: var(--color-dark-s);
    padding: 0 0 3px 1px;
    border-bottom: 3px solid var(--color-primary);
    cursor: default;
    pointer-events: none;
}

.nav-link:hover {
    color: var(--color-light-s);
}

.logo {
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.title {
    margin-bottom: 7px;
    color: var(--color-primary);
}

.subtitle {
    color: var(--color-light-xl, #FFF);
    font-family: var(--second-family);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
    margin-left: 4px;
}

a {
    text-decoration: none;
}

.start-screen {
    padding-top: 90px;
    display: flex;

    justify-content: space-between;
}

.not-only-content {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 42px;
    padding-top: 163px;
    width: 460px;
}

.not-only-puppy {
    max-width: 698px;
    max-height: 728px;

}

.about-pets {
    width: 300px;
    height: 408px;
}

h2 {
    font-family: var(--font-family);
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--color-light-xl, #FFF);
}

.p-only {
    color: var(--color-dark-s, #CDCDCD);
}

.button {
    padding: 15px 45px;
    border-radius: 100px;
    background: var(--color-primary, #F1CDB3);
    transition: background 0.3s ease;
}

.button-not-only {
    color: var(--color-dark-3xl, #292929);
    font-family: var(--font-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.02px;

}

.button:hover {
    background: var(--color-primary-light, #FDDCC4);
}

.about {
    background: var(--color-light-xl, #FFF);
}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

    gap: 120px;
}

.about-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    width: 430px;

}

h3 {
    font-family: var(--font-family);
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.1px;
}

.about-h3 {
    color: var(--color-dark-l, #545454);
}

.paragraph-l {
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.p-about {
    color: var(--color-dark-xl, #4C4C4C);
}

.our-friends-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.our-friends {
    background: var(--color-light-l, #F6F6F6);
}

.cards {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 90px;
    transition: transform 0.5s ease-in-out;
}

.pets-card {
    display: flex;
    align-items: center;
    gap: 53px;
}

.pet-text {
    color: var(--color-dark-l, #545454);
    text-align: center;
    max-width: 400px;
}

.button-arrow {
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    padding: 21px 17px;
    transition: background 0.3s ease;
}

.left {
    transform: rotate(180deg);
}

.button-arrow:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    border-radius: 9px;
    background: var(--color-light-s, #FAFAFA);
    transition: 0.3s ease;

}


.card:hover {
    background: var(--color-light-xl, #FFF);
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-image {
    background: var(--color-light-s, #FAFAFA);
    transition: background 0.3s ease;
}

.card:hover .pets-image {
    background: var(--color-light-xl, #FFF);
}



.pet-name {
    color: var(--color-dark-l, #545454);
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;

}

.pets-button {
    padding: 13px 43px;
    border-radius: 100px;
    background: var(--color-light-s, #FAFAFA);
    border: 2px solid #F1CDB3;
    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.02px;
    transition: background 0.3s ease;
}



.card:hover .pets-button {
    background: var(--color-primary-light, #FDDCC4);
    border: 2px solid #FDDCC4;
    cursor: pointer;
}




.button-our-friends {

    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.02px;
}


.help {
    background: var(--color-light-xl, #FFF);
}

.help-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.help-text-title {
    color: var(--color-dark-l, #545454);
    text-align: center;
}


.svg-list {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 55px 120px;
    flex-wrap: wrap;

}

.svg-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

h4 {
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 1.2px;
}

.help-text {
    color: var(--color-dark-l, #545454);
    text-align: center;

}

.in-addiction {
    background: var(--color-light-l, #F6F6F6);
}

.in-addiction-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.donation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 380px;
}

.text-donation {
    color: var(--color-dark-l, #545454);
    width: 300px;
}

h5 {
    font-family: var(--font-family);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.9px;
}

.text-bank {
    color: var(--color-dark-l, #545454);
}

.donation-dog {
    max-width: 505px;
    height: 261px;
    flex-shrink: 0;
}

.credit-card-content {
    margin-top: -2px;
    display: flex;
    gap: 16px;
    border-radius: 9px;
    background: var(--color-primary, #F1CDB3);
    padding: 10px 15px;
    transition: background 0.3s ease;


}

.credit-card-content:hover {
    background: var(--color-primary-light, #FDDCC4);
    cursor: pointer;
}

.credit-card {
    fill: var(--color-dark-3xl, #292929);
    color: var(--color-dark-l, #545454);

}

.number {
    white-space: nowrap;
}

.lorem-ipsum {
    color: var(--color-dark-m, #B2B2B2);
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
}

.footer {
    background: url('assets/img/noise_transparent@2x.png'), radial-gradient(circle at left center, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-position-y: 50%;
    padding: 40px 0 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-text-content {
    display: flex;
    gap: 160px
}

.footer-puppy {
    max-width: 300px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin: 16px 0 60px;
    width: 279px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0 60px;
    gap: 33px;
    width: 302px;
}

.info-link {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer-h3 {
    color: var(--color-light-xl, #FFF);
    word-wrap: normal;
}


.footer-h4 {
    color: var(--color-primary, #F1CDB3);
    transition: color 0.3s ease;
}

.footer-h4:hover {
    color: var(--color-primary-light, #FDDCC4);
}

@media (max-width: 1279px) {
    .container {
        padding: 80px 5.208333333vw 100px;
    }

    .content {
        width: 100%;
    }

    .header {
        white-space: nowrap;
    }

    .background-container {
        padding: 30px 40px 0;
    }

    .not-only-puppy {
        width: 54.5885416667vw;
        height: auto;
    }

    .about-content-text {
        width: 55.989583333vw;
    }

    .about-h3 {
        width: 48.177083333vw;
    }

    .pets-card {
        gap: 4.140625vw;

    }

    .pet-text {
        width: 52.0833333vw;
    }

    .cards {
        gap: 7.03125vw;
    }

    .svg-list {
        gap: 7.16145833333vw 7.8125vw;
    }

    .svg-item {
        width: 170px;
        height: 113px;
    }

    .donation {
        width: 49.47916666vw;
    }

    .text-donation {
        width: 39.0625vw;
    }

    .footer {
        padding: 40px 40px 0;
    }

    .footer-content {

        margin: 0 auto;

    }


    .footer-text-content {
        display: flex;
        gap: 60px;
        flex-wrap: nowrap;
        margin-right: 7px;
    }

    .loc {
        gap: 33px;
    }

}

@media(max-width:1255px) {
    .cards {
        overflow: hidden;
        max-width: 580px;
        gap: 40px;
    }

    .pets-card {
        gap: 1.5625vw;

    }

}


@media(max-width:1000px) {
    .container {
        padding: 80px 3.90625vw 100px;
    }

    .background-container {
        padding: 30px 30px 0;
    }

    .start-screen {
        padding: 60px 70px 0;
        flex-wrap: wrap;
    }

    .not-only-puppy {
        padding-top: 100px;
        margin: 0 -70px 0 70px;
        object-fit: contain;
        box-sizing: content-box;
        width: 74.088vw;
        height: auto;
        align-self: flex-end;
    }

    .not-only-content {
        width: 100%;
        padding: 0 54px 0 55px;
    }

    .button {
        align-self: center;
    }




    .about-pets {
        align-self: center;
    }

    .about-content {
        flex-wrap: wrap;
        gap: 80px;
        align-items: center;

    }


    .in-addiction-content {
        flex-wrap: wrap-reverse;
        gap: 60px;
    }

    .footer-content {

        flex-wrap: wrap;
        justify-content: center;
        gap: 7.8125vw;

    }

    .info {
        width: 36.328125vw;
        margin: 0;
    }

    .location {
        width: 39.32291666vw;
        margin: 0;
    }

    .footer {
        padding: 30px 30px 0;

    }

    .footer-puppy {
        align-self: center;
    }

}

@media(max-width:767px) {
    .container {
        padding: 13.125vw 3.125vw;
    }

    .background-container {
        padding: 30px 10px 0;
    }

    .logo {
        margin-left: 10px;
    }

    .title {
        font-family: Georgia;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        /* 35.2px */
        letter-spacing: 1.92px;
        margin-bottom: 10px;
        
    }

    .subtitle {
        font-family: Arial;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.3px;
    }

    .start-screen {
        padding: 60px 0 0;
    }

    .not-only-content {
        padding: 0;
        text-align: center;
        align-items: center;
    }

    h2 {
        font-family: Georgia;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 32.5px */
        letter-spacing: 1.5px;
    }

    .not-only-title {
        font-size: calc((100vw - 320px)/(767 - 320) * (44 - 25) + 25px);
    }

    .not-only-puppy {
        width: 81.25vw;
        padding-top: 32.8125vw;
        margin-left: 12.5vw;
    }

    .about-content {
        gap: 42px;
    }

    .about-content-text {
        width: 84.375vw;

    }

    .about-h3 {
        width: 91.75vw;
        align-self: center;
        font-size: calc((100vw - 320px)/(767 - 320) * (35 - 25) + 25px);
    }

    .p-about {
        text-align: justify;
        margin-bottom: -3px;
    }

    .about-pets {
        width: 81.25vw;
        height: auto;
        max-width: 300px;
    }

    h3 {
        text-align: center;
        width: 100%;
        font-family: Georgia;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 32.5px */
        letter-spacing: 1.5px;
    }

    .cards {
        overflow: hidden;
        max-width: 270px;

    }

    .pets-card {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        max-width: 270px;
    }

    .pet-text {
        width: 93.75vw;
        font-size: calc((100vw - 320px)/(767 - 320) * (35 - 25) + 25px);
    }

    .slider-left {
        order: 1;
        padding: 20px 80px 0 0;

    }

    .slider-right {
        order: 1;
        align-self: center;
        padding-top: 20px;
    }

    .our-friends-content {
        gap: 42px;
    }

    .help-content {
        gap: 42px;
    }

    .svg-list {

        gap: 9.375vw;
        flex-wrap: wrap;

    }

    .help {
        padding: 13.125vw 4.6875vw;
    }

    .svg-item {
        width: 130px;
        height: 87px;
        gap: 20px;
    }

    .help-img {
        width: calc((100vw - 320px)/(767 - 320) * (60 - 50) + 50px);
        height: calc((100vw - 320px)/(767 - 320) * (60 - 50) + 50px);
    }

    .help-text {
        font-family: Georgia;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        /* 16.5px */
        letter-spacing: 0.9px;
        font-size: calc((100vw - 320px)/(767 - 320) * (20 - 15) + 15px);
    }

    .help-text-title {
        font-size: calc((100vw - 320px)/(767 - 320) * (35 - 25) + 25px);
    }

    .in-addiction-content {
        gap: 42px;
    }

    .donation {
        width: 93.75vw;
        align-items: center;
        text-align: center;
    }

    .text-donation {
        width: 93.75vw;
        font-size: calc((100vw - 320px)/(767 - 320) * (35 - 25) + 25px);
    }

    .text-bank {
        letter-spacing: normal;
        line-height: 160%;

    }

    .donation-dog {
        width: 81.25vw;
        height: auto;
    }

    .donation-h4 {
        font-family: Georgia;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        /* 16.5px */
        letter-spacing: 0.9px;
        font-size: calc((100vw - 320px)/(767 - 320) * (20 - 15) + 15px);
        ;
    }

    .lorem-ipsum {
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }

    .credit-card-content {
        align-items: center;
        margin: 0;
        gap: 15px;

    }


    .footer {
        padding: 30px 10px 0;
    }

    .footer-puppy {
        width: 81.25vw;
        height: auto;
    }

    .footer-content {
        gap: 40px;
    }

    .info {
        width: 87.1875vw;
        margin: 0;
        align-items: center;
    }

    .location {
        width: 93.75vw;
        margin: 0;
        align-items: center;
        margin-right: 3px;
        gap: 37px;
    }

    .footer-h3 {
        text-align: center;
        width: 86.875vw;
        text-wrap: wrap;
        font-size: calc((100vw - 320px)/(767 - 320) * (35 - 25) + 25px);
        margin-top: -4px;
    }

    .park {
        margin-right: 27px;
    }

    .street {
        margin-top: 6px;
    }
}

@media (max-width:767.5px) {
    .nav-list {
        display: none;
    }

    .burger-menu {
        position: relative;
        display: flex;
        flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1001;
            
    }

    span {
        display: flex;
        border-bottom: 2px solid #F1CDB3;
        width: 100%;
        transition: transform 0.3s ease;
        
    }

    

    .burger-open span {
        transform: rotate(90deg);
    }
    .burger-open {
        display: flex;
        flex-direction: row;
    }
    


    .navbar.active .nav-list {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--color-dark-3xl, #292929);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        gap:40px;
    }
.navbar.active .paragraph-l {
    color: var(--color-dark-s, #CDCDCD);
font-family: Arial;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}

.navbar.active .nav-link-active {
    color: var(--color-light-s, #FAFAFA);
}

.navbar.active .nav-link:hover {
    color:var(--color-light-s, #FAFAFA);
}

.navbar.active .burger-menu {
    position:fixed;
    top:45px;
    right: 20px;
}
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        transition: opacity 0.3s ease;
    }
    .overlay.active {
        display: block;
        opacity: 1;
    }
    
    .burger-menu:hover {
        cursor: pointer;
    }

    .header {
        gap: 20.625vw;
    }

    .info-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

}

@media (max-width:400px) {
    .svg-list {
        justify-content: flex-start;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
background: var(--color-light-s, #FAFAFA);
    width: 900px;
    height: 500px;
    transition: box-shadow 0.3s ease;
  }
  
  .modal-content:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

  }
  
  .close-btn {
    position: absolute;
  top: -50px;
  right: -40px;
padding: 15px 15px;
border-radius: 100px;
border: 2px solid var(--color-primary, #F1CDB3);
    cursor: pointer;
    transition:  background-color 0.3s ease;
  }
  
  .close-btn:hover {
    background-color:var(--color-primary-light, #FDDCC4);
  }

  .modal-body {
    display: flex;
    gap: 30px;
  }
  
  .modal-image img {
    width: 500px;
    height: 500px;
    border-radius: 9px 0px 0px 9px;
  }
  
  .modal-info {
    flex-grow: 1;
    padding: 50px 20px 88px 0;
  }
  
  #modal-title {
    color: #000;
font-family: Georgia;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 45.5px */
letter-spacing: 2.1px;
padding-bottom: 10px;
  }
  
  #modal-subtitle {
    color: #000;
    font-family: Georgia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
    padding-bottom: 40px;
  }

  #modal-description {
    color: #000;
font-family: Georgia;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 16.5px */
letter-spacing: 0.9px;
width: 350px;

  }
  
  .modal-details {
    padding-top: 40px;
    padding-left: 12px;
    list-style-image: url('assets/svg/dot.svg');
    display: inline-flex;
height: 102px;

flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
  }
  
  .modal-details span{
    color: #000;
font-family: Georgia;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 110%;
letter-spacing: 0.9px;
  }
  
  .modal-details strong {
    color: #000;
font-family: Georgia;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 16.5px */
letter-spacing: 0.9px;
  }
  