:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --start-screen-gradient-background: #211f20;
    --footer-gradient-background: #211f20;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 80px 40px 100px;
}

.content {
    margin: 0 auto;
    max-width: 75rem;
}

a {
    text-decoration: none;
}

h3 {
    font-family: var(--font-family);
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2.1px;
}

h1 {
    font-family: var(--font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 2px;
}

.paragraph-l {
    font-family: var(--second-family);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

h4,
span {
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 1.2px;
}

.header-container {
    background: var(--color-light-xl, #FFF);
    padding: 30px 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

}

.burger-menu {
    display: none;
}

.nav-list {
    display: inline-flex;
    list-style: none;
    gap: 35px;
    margin-right: 2px;
    margin-bottom: 4px;

}

.nav-link {
    color: var(--color-dark-l, #545454);
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-link-active {
    color: var(--color-dark-l, #545454);
    padding-bottom: 5px;
    border-bottom: 3px solid var(--color-primary);
    cursor: default;
    pointer-events: none;
}

.nav-link:hover {
    color: var(--color-dark-3xl, #292929);
}

.logo {
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.title {
    font-family: var(--font-family);
    color: var(--color-dark-l, #545454);
    margin-bottom: 7px;
}



.subtitle {
    font-family: var(--second-family);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
    margin-left: 4px;
    color: var(--color-dark-3xl, #292929);
}


.pets-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}

.our-friends {
    background: var(--color-light-l, #F6F6F6);
}

.pets-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
    padding: 14px 0;
}

.pets-title {
    color: var(--color-dark-l, #545454);
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    border-radius: 9px;
    background: var(--color-light-s, #FAFAFA);
    transition: 0.3s ease;
    overflow: hidden;
}

.card:hover {
    background: var(--color-light-xl, #FFF);
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-image {
    background: var(--color-light-s, #FAFAFA);
    transition: background 0.3s ease;
}

.card:hover .pets-image {
    background: var(--color-light-xl, #FFF);
}



.pet-name {
    color: var(--color-dark-l, #545454);
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;

}

.pets-button {
    padding: 15px 45px;
    border-radius: 100px;
    background: var(--color-light-s, #FAFAFA);
    border: 2px solid #F1CDB3;
    color: var(--color-dark-3xl, #292929);
    font-family: Georgia;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.02px;
    transition: background 0.3s ease;
}

.card:hover .pets-button {
    background: var(--color-primary-light, #FDDCC4);
    border: 2px solid #FDDCC4;
    cursor: pointer;
}


.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.button-paginator-inactive {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 14px 13px 15px 12px;
    border-radius: 100px;
    border: 2px solid var(--color-dark-s, #CDCDCD);
    background: var(--color-light-l, #F6F6F6);
}

.two {
    padding: 14px 0px 15px 0px;
}

.inactive {
    color: var(--color-dark-s, #CDCDCD);

}

.button-paginator-active {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 14px 0px 15px 0px;
    border-radius: 100px;
    background: var(--color-primary, #F1CDB3);
    border: 2px solid var(--color-primary, #F1CDB3);

}

.active {
    color: var(--color-dark-3xl, #292929);

}

.button-paginator {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 14px 13px 15px 12px;
    border-radius: 100px;
    border: 2px solid var(--color-primary, #F1CDB3);
    background: var(--color-light-l, #F6F6F6);
    transition: background 0.3s ease;
}

.button-paginator:hover {
    background: var(--color-primary, #F1CDB3);
    cursor: pointer;
}

.footer {
    background: url('assets/img/noise_transparent@2x.png'), radial-gradient(circle at left center, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-position-y: 50%;
    padding: 40px 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-text-content {
    display: flex;
    gap: 160px
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin: 16px 0 60px;
    width: 279px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0 60px;
    gap: 33px;
    width: 302px;
}

.footer-puppy {
    max-width: 300px;
    height: auto;
}

.info-link {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer-h3 {
    color: var(--color-light-xl, #FFF);

}

.footer-h4 {
    color: var(--color-primary, #F1CDB3);
    transition: color 0.3s ease;
}


.footer-h4:hover {
    color: var(--color-primary-light, #FDDCC4);
}

@media (max-width: 1279px) {
    .container {
        padding: 7.8125vw 3.90625vw 9.1145833333vw;
    }

    .header-container {
        padding: 30px 3.90625vw;
    }

    .header {
        white-space: nowrap;

    }

    .pets-title {
        margin-top: 20px;
    }

    .pets-cards {
        flex-wrap: wrap;
        gap: 3.38541666vw 5.20833333vw;
        margin: 30px 0 40px;
        padding: 0;
        justify-content: center;
    }

    .card {
        padding: 0;
        padding-bottom: 30px;
    }

    .pets-content {
        gap: 0;
    }


    .footer {
        padding: 40px 40px 0;
    }

    .footer-content {

        margin: 0 auto;

    }


    .footer-text-content {
        display: flex;
        gap: 60px;
        flex-wrap: nowrap;
        margin-right: 7px;
    }

    .loc {
        gap: 33px;
    }
}

@media(max-width:1000px) {
    .footer-content {

        flex-wrap: wrap;
        justify-content: center;
        gap: 7.8125vw;

    }

    .info {
        width: 36.328125vw;
        margin: 0;
        margin-top: 4px;
    }

    .location {
        width: 39.32291666vw;
        margin: 0;
        margin-top: 4px;
    }

    .footer {
        padding: 30px 30px 0;

    }

    .footer-puppy {
        align-self: center;
        margin-top:5px;
    }

}

@media (max-width:800px) {
    .pets-cards {
        max-height: 1365px;
        overflow: hidden;
    }
}

@media(max-width:767px) {
    h3 {
        font-family: Georgia;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 32.5px */
        letter-spacing: 1.5px;
    }

    .header-container {
        padding: 30px 6.25vw;
    }


    .title {
        font-family: Georgia;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        /* 35.2px */
        letter-spacing: 1.92px;
        margin-bottom: 10px;

    }

    .subtitle {
        font-family: Arial;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.3px;

    }

    .nav-list {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        margin-right: 10px;
    }

    .burmen {
        border-bottom: 2px solid #000000;
        width: 100%;

    }

    .header {
        gap: 20.625vw;
    }


    .info-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .container {
        padding: 13.125vw 3.125vw;
    }

    .pets-title {
        font-size: calc((100vw - 320px)/(767 - 320) * (35 - 25) + 25px);
        margin: 0;
    }

    .pets-content {
        gap: 0;
    }

    .pets-cards {
        max-height: 1365px;
        gap: 26px;
        padding: 0;
        margin: 42px 0;
    }

    .navigation {
        gap: 10px;
        margin: 0;
    }

    .footer {
        padding: 30px 10px 0;
    }

    .footer-puppy {
        width: 81.25vw;
        height: auto;
    }

    .footer-content {
        gap: 40px;
    }

    .info {
        width: 87.1875vw;
        margin: 0;
        align-items: center;
        
    }

    .location {
        width: 93.75vw;
        margin: 0;
        align-items: center;
        margin-right: 3px;
        gap: 37px;
    }

    .footer-h3 {
        text-align: center;
        width: 86.875vw;
        text-wrap: wrap;
        font-size: calc((100vw - 320px)/(767 - 320) * (35 - 25) + 25px);

    }

    .park {
        margin-right: 27px;
    }

}

@media (max-width: 610px) {
    .pets-cards {
        max-height: 1365px;
        overflow: hidden;
    }
}